@import "index.scss";

/*------Dash Cards------*/
.new-post-container {
  color: $primary-dark;
  border-radius: 5px;
}

.editor-card {
  background-color: $primary-light !important;
  border-radius: 8px !important;
  margin: 20px;
  border: none !important;
}
.editor-card .card-header {
  background-color: transparent !important;
  padding: 1rem 1rem;
  border: none;
}

:is(.new-post-container, .editor-card) :is(.form-control, .form-control) {
  color: $primary-dark;
}

:is(.new-post-container, .editor-card)
  :is(.form-control:focus, .form-control:focus) {
  border: 1px solid $theme;
  box-shadow: none !important;
}

:is(.new-post-container, .editor-card) :is(.form-control, .form-control) {
  border: 1px solid rgba($primary-dark, 0.1);
}

.new-post-container .form-label {
  font-size: 0.9rem;
  font-weight: 600;
}

.event-card {
  background-color: $primary-light !important;
  border-radius: 8px !important;
  margin: 20px;
  padding: 20px;
}

.event-card .card-header {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 1rem 1rem;
}

.event-card .details_textarea {
  background-color: $secondary-light;
  border-radius: 8px;
  padding: 25px;
  &:not(:first-child) {
    background-color: $primary-light !important;
  }
}

.event-card .cta_button {
  max-width: fit-content !important;
}

.dropdown-toggle.btn {
  padding: 0;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.dropdown-toggle::after {
  display: none !important;
}
.event-card div[aria-labelledby="dropdown-basic"] button {
  width: 100%;

  &:hover {
    background-color: $button-bg !important;
  }
}
/* .event-card div[aria-labelledby="dropdown-basic"] {
  min-width: 100px !important;
} */

// Dashboard
.event-card_dash {
  background-color: $primary-light !important;
  border-radius: 8px !important;
  margin: 20px;
  // min-height: 298px;
}

.event-card_dash .card-header {
  background-color: $primary-light;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  padding: 1rem 1rem;
}

.event-card_dash .card-footer {
  background-color: $primary-light;
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.event-card_dash .event-brief small {
  font-size: 12px;
}
.event-card_dash .event-brief h4 {
  font-size: 16px;
  font-weight: 600;
}
.event-card_dash .event-brief p {
  font-size: 16px;
  font-weight: bold;
}

/* .event-card_dash div[role="group"]:not(.vote_btnGroup) {
  min-height: 81px;
} */
.event-card_dash div[role="group"] button {
  max-height: 36px !important;
}
