<html>
  <body>
    <div style="padding-right: 150px; padding-left: 150px">
      <div style="padding: 50px; border-radius: 25px; border: 1px solid grey">
        <h2 style="color: blue">eventmatcher</h2>

        <br />
        {% block child %} {% endblock %}
        <br />
        <center>
          <hr />
          <p><span style="color: blue">eventmatcher</span> project</p>
          <br />
          <b
            >Terms of Service &nbsp;&nbsp;&nbsp; Privacy &nbsp;&nbsp;&nbsp;
            Cookies</b
          >
        </center>
      </div>
    </div>
  </body>
</html>
