/*------Color Pallet------*/
$theme: #6366f1;
$theme-light: #eaebfd;
$primary-light: #ffffff;
$secondary-light: #f7f7f7;
$primary-dark: #2c2f33;
$secondary-dark: #23272a;
$button-bg: #e0e7ff;
$button-text: #3730a3;
$button-hover: #3730a3;

/*------Mixin------*/
//Button
@mixin btn-style($bgColor, $color, $border, $fw) {
  background-color: $bgColor !important;
  color: $color !important;
  border: $border !important;
  font-weight: $fw !important;
}

@mixin title-text($color, $ltrspace, $fw) {
  color: $color !important;
  letter-spacing: $ltrspace !important;
  font-weight: $fw !important;
}

@mixin header-footer-font($fntSize, $fntFam, $fntW) {
  font-size: $fntSize;
  font-family: $fntFam;
  font-weight: $fntW;
}
