@import "App-pallet.scss";
@import "Footer.scss";
@import "Header.scss";
@import "Auth-forms.scss";
@import "Dash-cards.scss";
@import "Notification.scss";
@import "Responsive.scss";

/*------General Components------*/
html,
body {
  background-color: $secondary-light !important;
  font-size: 1rem;
}

:any-link {
  text-decoration: none;
}

.titleText {
  @include title-text($theme, 2px, 800);
}

.subTitle {
  @include title-text($primary-dark, normal, 600);
}

.btn-primary {
  @include btn-style($theme, $primary-light, none, 600);
}

.btn-primary:hover {
  background-color: $button-hover !important;
  color: $primary-light !important;
  border: none;
}

.btn-cancel {
  @include btn-style(transparent, $primary-dark, none, 600);
}
.btn-cancel:hover {
  @include btn-style(transparent, $theme, none, 600);
}

/*.btn-primary:hover {
  background-color: $theme !important;
  color: $button-hover !important;
  border: none;
}*/
.btn-primary:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-placements {
  @include btn-style(transparent, $theme, none, 600);
  padding: 2px 8px 4px 8px !important;
  margin: 1rem 0 0 0;
}

.btn-placements:not(:first-child) {
  margin: 1rem 0 0 1rem;
}

.postBtn-placements {
  @include btn-style(transparent, $primary-dark, none, 600);
  padding: 2px 8px 4px 8px !important;
  // margin: 0 0 0 0.5rem;
  &:hover {
    background-color: transparent !important;
    color: $theme !important;
  }
}
.divider {
  color: $primary-dark;
  background-color: $primary-dark;
  height: 1;
}
.centerContent {
  display: flex;
  justify-content: center;
}

.toasts {
  width: fit-content !important;
  top: 10px;
  margin-left: 4px;
  font-weight: 500;
  background-color: $primary-light !important;
  border: none !important;
}

.toasts-icon {
  padding: 2px;
  border-radius: 0.25rem;
}

div.content {
  padding: 80px 12px;
  background-color: $secondary-light;
  height: 100%;
}
.recents-div {
  background-color: $primary-light;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  max-width: 18rem;
}
/* .recents-div p {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
} */
.userInfo-div button {
  padding: 0;
}

.details_textarea a {
  color: $theme;
  font-weight: bold !important;
}

.vote_btnGroup button {
  color: #57606a !important;
  background-color: transparent !important;
  padding: 0.4rem;

  &:hover {
    color: $theme !important;
    background-color: transparent !important;
  }
}
.user_vote {
  color: $theme;
}
#vote_badge {
  background-color: #e5edff !important;
  color: #5850ec !important;
}

/*------Main Dash------*/

.dash-container {
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  min-height: 100vh;
  margin: 0 auto;
}

.dash-container .content {
  flex: 1 1 auto;
  width: 100%;
}

.sidebar {
  width: 33.33%;
}
.sidebar_eventDash {
  width: 50%;
}
.sidebar-wrapper {
  width: 100%;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-top: 80px !important;
}
.sidebar_eventDash .card {
  background-color: $primary-light;
  border-radius: 8px;
  margin: 20px;
}
.sidebar .card:first-child {
  background-color: $primary-light;
  border-radius: 5px;
  margin: 20px;
}
.sidebar .card:last-child {
  background-color: transparent;
  border: none;
  margin: 20px;
}

/*------Off-Canvas------*/
/* .offcanvas-backdrop.show {
  opacity: 0.3 !important;
} */
.offcanvas-header {
  background-color: $primary-light;
  color: $theme;
  padding: 20px 30px !important;
}
.offcanvas-body {
  background-color: $primary-light;
  padding: 0 !important;
}

/*------Modal------*/
.modal-header {
  border-top-right-radius: 8px !important;
  border-top-left-radius: 8px !important;
  border-color: transparent !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.modal-title {
  color: $theme;
  font-size: 2.5rem !important;
}
.modal-body h4 {
  color: $primary-dark;
  font-weight: bold !important;
}
.modal-content {
  border-radius: 8px !important;
  padding: 20px;
}

.modal-body {
  font-size: 1rem;
  color: rgb(107 114 128);
}

/*------Image/Logo------*/
.userProf-img {
  width: 45px;
  border-radius: 8px !important;
  background-color: $secondary-dark;
}

.members-img {
  width: 1.5rem;
  border-radius: 9999px;
  background-color: $secondary-dark;
}

.img-group img {
  margin-left: -0.6rem;
}

.members-count {
  display: inline-flex;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 9999px;
  background-color: $secondary-light;
  color: $primary-dark;
  font-size: small;
}
.img-group span {
  margin-left: -0.6rem;
}

/*------pagination------*/
.pagination #pagi-container {
  width: fit-content;
  background-color: $theme-light;
  border-radius: 10px;
  padding: 0;
}

.pagination .page-link {
  color: $secondary-dark !important;
  background-color: transparent !important;
  border: none;
  font-weight: 500;
  border-radius: 0 !important;
}

.pagination #prev {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.pagination #next {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.pagination .page-item.active .page-link {
  background-color: $theme !important;
  color: $primary-light !important;
}

.pagination .page-link:hover {
  background-color: $theme !important;
  color: $primary-light !important;
}

/*------Listgroup------*/
.members-list.list-group .list-group-item {
  padding: 10px 0;
}
