@import "index.scss";
@import "Footer.scss";
@import "Header.scss";
@import "Auth-forms.scss";
@import "Dash-cards.scss";
@import "Notification.scss";
@import "Responsive.scss";
@import "Comment.scss";
@import "Suggested.scss";
@import "Calendar.scss";
@import "Calendar-items.scss";

/*------General Components------*/
html,
body {
  background-color: $secondary-light !important;
  font-size: 1rem;
}

:any-link {
  text-decoration: none;
}

.titleText {
  @include title-text($primary-light, 1.5rem, 0px, 700);
  font-family: Poppins;
  padding: 0.4rem;
  background-color: $theme;
  width: max-content;
  border-radius: 8px;
}

.subTitle {
  @include title-text($primary-dark, 1.5rem, normal, 600);
}

.btn-primary {
  @include btn-style($button-bg, $button-text, none, 600);
  &:hover {
    background-color: $button-hover !important;
    color: $primary-light !important;
    border: none;
  }
}

.btn-primary.btn-muted {
  @include btn-style(rgb(246, 248, 250), $fnt-muted, none, 500);
  border: 1px solid rgb(208, 215, 222) !important;
  padding: 0.25rem !important;

  &:hover {
    color: $fnt-muted !important;
  }
}

.btn-cancel {
  @include btn-style(transparent, $primary-dark, none, 600);
}
.btn-cancel:hover {
  @include btn-style(transparent, $theme, none, 600);
}

:is(.btn-primary:focus, .btn:focus) {
  outline: none !important;
  box-shadow: none !important;
}

.btn-placements {
  @include btn-style(transparent, $theme, none, 600);
  padding: 2px 8px 4px 8px !important;
  margin: 1rem 0 0 0;
}

.btn-placements:not(:first-child) {
  margin: 1rem 0 0 1rem;
}

.formBtn.btn-primary {
  @include btn-style($button-bg, $button-text, none, 600);
  padding: 5px 10px !important;
  &:hover {
    background-color: $button-hover !important;
    color: $primary-light !important;
    border: none;
  }
}

.postBtn-placements {
  @include btn-style(transparent, $primary-dark, none, 600);
  padding: 2px 8px 4px 8px !important;
  // margin: 0 0 0 0.5rem;
  &:hover {
    background-color: transparent !important;
    color: $theme !important;
  }
}
.divider {
  color: $primary-dark;
  background-color: $primary-dark;
  height: 1;
}
.centerContent {
  display: flex;
  justify-content: center;
}

.toasts {
  width: fit-content !important;
  top: 10px;
  margin-left: 4px;
  font-weight: 500;
  background-color: $primary-light !important;
  border: none !important;
}

.toasts-icon {
  padding: 2px;
  border-radius: 0.25rem;
}

div.content {
  // padding: 80px 0;
  background-color: $secondary-light;
  height: 100%;
}

.userInfo-div button {
  padding: 0;
}

.details_textarea a {
  color: $theme;
  font-weight: bold !important;
}
.vote_btnGroup {
  display: flex !important;
  justify-content: space-between !important;
}
.vote_btnGroup button.user_vote {
  background-color: $button-hover !important;
  color: $primary-light !important;
}

#vote_badge {
  font-weight: 600;
  background-color: #e5edff !important;
  color: #5850ec !important;
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  --bs-border-opacity: 0.1;
  border-color: rgba(
    var(--bs-success-rgb),
    var(--bs-border-opacity)
  ) !important;
}

.username_tags {
  color: #0d6efd;
  font-size: 14px;
  &:hover {
    cursor: pointer;
  }
}
.username_tags-dark {
  color: $primary-dark;
  font-size: 14px;
  font-weight: 600;
  &:hover {
    color: #0d6efd;
  }
}

#badgeItem {
  font-size: 11px;
  font-weight: 600;
  display: inline-flex;
  position: relative;
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  --bs-border-opacity: 0.1;
  border-color: rgba(
    var(--bs-success-rgb),
    var(--bs-border-opacity)
  ) !important;
}

.pulse_dot {
  display: inline-flex;
  position: absolute;
  top: 0rem;
  right: 0rem;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 9999px;
  background-color: #dc2626;
}
.animate_pulse {
  display: inline-flex;
  position: absolute;
  top: 0rem;
  right: 0rem;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 9999px;
  background-color: #dc2626;
  opacity: 0.75;
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;

  @keyframes ping {
    75%,
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
}

/*------Main Dash------*/
.dash-container {
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 85rem;
}

.dash-container .content {
  flex: 1 1 auto;
  width: 60%;
}

.dash-container#main .container {
  max-width: 41rem;
}

.sidebar {
  width: 30%;
}

.sidebar-wrapper {
  width: 100%;
  overflow: auto;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}
.sidebar_right {
  margin-top: 20px;
  padding-right: 10px;
}
.sidebar_left {
  margin-top: 20px;
  padding-left: 10px;
}
.sidebar .card {
  background-color: $primary-light;
  border-radius: 8px !important;
}
.content-wrapper {
  margin: 20px 0 20px 0;
}
/*------Event Dash------*/
.sidebar_eventDash-wrapper {
  width: 100%;
  height: 100%;
}
.sidebar_eventDash {
  width: 40%;
}
.sidebar_eventDash .card {
  background-color: $primary-light;
  border-radius: 8px;
}
/*------Calendar Dash------*/
.sidebar_calendarDash {
  width: 32%;
}
.sidebar_calendarDash .card {
  background-color: $primary-light;
  border-radius: 8px;
}

/*------Off-Canvas------*/
.offcanvas-header {
  background-color: $primary-light;
  color: $theme;
  padding: 20px 30px !important;
}
.offcanvas-body {
  background-color: $primary-light;
  padding: 0 !important;
}
.offcanvas.offcanvas-end {
  border-color: $theme-light !important;
}

/*------Modal------*/
.modal-header {
  border-top-right-radius: 8px !important;
  border-top-left-radius: 8px !important;
  border-color: transparent !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.modal-title {
  color: $theme;
  font-size: 2.5rem !important;
}
.modal-body h4 {
  color: $primary-dark;
  font-weight: bold !important;
}
.modal-content {
  border-radius: 8px !important;
  padding: 20px;
  border-color: $primary-light !important;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.modal-body {
  font-size: 1rem;
  color: rgb(107 114 128);
}

.modal-backdrop {
  background-color: rgba(255, 255, 255, 0.8) !important;
}
/*------Image/Logo------*/
.userProf-img {
  width: 45px;
  border-radius: 4px !important;
}

.members-img {
  width: 1.5rem;
  border-radius: 9999px;
  background-color: $secondary-dark;
}

.img-group img {
  margin-left: -0.6rem;
}

.members-count {
  display: inline-flex;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 9999px;
  background-color: $secondary-light;
  color: $primary-dark;
  font-size: small;
}
.img-group span {
  margin-left: -0.6rem;
}

/*------pagination------*/
.paginate_div {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  padding: 10px 0;
}
.pagination #pagi-container {
  width: fit-content;
  background-color: transparent;
  border-radius: 10px;
  padding: 0;
}

#pagi-container li {
  margin: 0 5px 0 5px;
}

.pagination .page-link {
  color: $secondary-dark !important;
  background-color: transparent !important;
  border: none;
  font-weight: 500;
}

.pagination #prev {
  border-radius: 0.25rem !important;
}
.pagination #next {
  border-radius: 0.25rem !important;
}

.pagination .page-item.active .page-link {
  background-color: $button-bg !important;
  color: $button-text !important;
}

.pagination .page-link:hover {
  background-color: $button-bg !important;
  color: $button-text !important;
}
.pagination .page-item.disabled .page-link {
  color: $fnt-muted !important;
  font-weight: 400 !important;
}

/*------Listgroup------*/
.members-list.list-group .list-group-item {
  padding: 10px 0;
}

/*------Breadcrumb------*/
.breadcrumb :not(.breadcrumb-item.active) {
  color: $theme !important;
}

/*------Loaders------*/
.loading_skeleton {
  border: 1px solid rgba(0, 0, 0, 0.175);
  margin-top: 10px;
  border-radius: 8px;
  background-color: $primary-light;
}

.loading_skeleton .title {
  width: 270px;
  height: 25px;
  background-color: #e5e7eb;
  border-radius: 4px;
  @extend %load-effect;
}

.loading_skeleton .img {
  border-radius: 4px;
  padding: 20px;
  margin-top: 10px;
  background-color: #d1d5db;
  display: flex;
  justify-content: center;
  @extend %load-effect;
}

.loading_skeleton .img svg {
  color: #e5e7eb;
}

.loading_skeleton .circle {
  width: 20px;
  height: 20px;
  background-color: #e5e7eb;
  border-radius: 1000px;
  @extend %load-effect;
}
.loading_skeleton .btn {
  width: 67px;
  height: 30px;
  background-color: #e5e7eb;
  border-radius: 8px;
  @extend %load-effect;
}

%load-effect {
  animation-duration: 2.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: #ddd;
  background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
  background-size: 1200px 100%;
}

@-webkit-keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes shimmer {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}
