@import "index.scss";

/*------Login/Signup Forms------*/
div#auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.auth-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 24px;
  flex: 1 1;
}
.auth-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  border-top: 1px solid #e0e0e0;
}

.login-card .form-control:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}

.login-card .form-control:focus {
  border: 1px solid $theme;
  box-shadow: none !important;
  background-color: rgba($primary-light, 0.5);
}

.login-card .form-control {
  border: 1px solid rgba($primary-dark, 0.1);
  background-color: transparent;
}

.new-post-container .form-control:hover {
  border: 1px solid $theme;
}

.login-card.card {
  background-color: transparent;
  border: none;
  color: $primary-dark;
  font-weight: 500;
  width: 100%;
  max-width: 500px !important;
  padding: 1.5rem 2rem 2rem 2rem;
}

.btn-primary.show_hide-pw {
  background-color: $button-bg !important;
  color: $theme !important;

  &:hover {
    background-color: $button-bg !important;
    color: $button-text !important;
  }
}

//current user
.current-signedin .list-group-item:hover {
  transition: all 0.2s;
  background-color: $secondary-light;
}

//otp card
/* Chrome, Safari, Edge, Opera */
.otp-card,
input::-webkit-outer-spin-button,
.otp-card,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.otp-card input[type="number"] {
  -moz-appearance: textfield;
}

.otp-card a {
  font-weight: 500;
  font-size: 14px;
  margin-top: 8px;
}

.otp-card .message-block {
  font-size: 14px;
  margin-bottom: 10px !important;
}
