@import "index.scss";

/*------Calendar------*/
.calendar {
  width: 900px;
  height: 600px;
  display: flex;
  flex-direction: column;
}
.calendar .head {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.calendar .body {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.calendar .body .header {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-light !important;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.175) !important;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.calendar .body .week {
  width: 125px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-days {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  background-color: $primary-light !important;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.175) !important;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 10px;
}

.calendar-days .day {
  width: 125px;
  height: 75px;
  position: relative;
  border-left: 1px solid rgba(0, 0, 0, 0.175);
  transition: 0.4s;
  padding: 8px;

  &:hover {
    background-color: $theme-light;
  }
  &:nth-child(n + 8) {
    border-top: 1px solid rgba(0, 0, 0, 0.175);
  }
  &:nth-child(7n + 1) {
    border-left: none;
  }
}

.calendar-days .day p {
  margin: 0;
  float: right;
  right: 10px;
  font-size: 16px;
  font-weight: 400 !important;
  color: #adadad;
}

.calendar-days .day span {
  display: block;
  clear: right;
  width: 100%;
  font-size: 11px;
  border-radius: 4px !important;
  text-align: start;
  background-color: $theme !important;
}

.calendar-days .currMonth p {
  color: $fnt-muted;
}

.calendar-days .selectedDay {
  background-color: $theme-light;
}

.calendar-days .selectedDay p {
  color: $theme;
  font-weight: bold;
}

.calendar .month-controls {
  display: flex;
  align-items: center;
}

.calendar .month-controls h6 {
  width: 75px;
  margin: 0 20px 0 20px !important;
  text-align: center;
}

.calendar .head span {
  font-size: 20px;
  font-weight: 600;
}
