@import "index.scss";

/*------Calendar------*/
.calendar {
  width: 900px;
  height: 600px;
  display: flex;
  flex-direction: column;
}
.calendar .head {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}
.calendar .body {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.calendar .body .header {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.calendar .body .week {
  width: 100px;
  text-align: center;
}

.calendar-days {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}

.calendar-days .day {
  width: 125px;
  height: 75px;
  position: relative;
  border: 1px solid #a6a6a6;
  transition: 0.4s;
  &:hover {
    background-color: $theme-light;
  }
}

.calendar-days .day p {
  position: absolute;
  right: 10px;
  color: #a6a6a6;
}

.calendar-days .currMonth p {
  color: $primary-dark;
}

.calendar-days .selectedDay p {
  color: $theme;
  font-weight: bold;
}
