@import "index.scss";

.calender_events-table {
  border: 1px solid #dee2e6 !important;
  overflow: hidden;
  border-radius: 8px !important;
}
.calender_events-table table {
  margin-bottom: 0 !important;
}

.calender_events-table th {
  background-color: $theme-light !important;
  font-weight: 600;
  font-size: 14px;
}

.calender_events-table tbody tr:hover td {
  background-color: $theme-light;
}

.calender_events-table tbody tr:nth-last-of-type(1) {
  border-bottom: transparent;
}
.calender_events-table .badge {
  background-color: $theme !important;
  padding: 10px;
}

.calender_events-table .table-content {
  padding: 5px 2px 5px 2px;
}

.calender_events-table .table-content h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
}
.calender_events-table .table-content h4 a {
  color: $primary-dark;
  &:hover {
    color: #0d6efd;
  }
}
.calender_events-table .dropdown button {
  border: 1px solid #dee2e6;
  color: $primary-dark;
}
