@import "index.scss";

/*------Calendar------*/
.calendar-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.calendar_container {
  width: 420px;
  height: 420px;
  display: flex;
  flex-direction: column;
}

.calendar_container .head {
  height: 46px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.calendar {
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 9px !important;
  background-color: $primary-light;
  overflow: hidden;
}

.calendar table {
  margin-bottom: 0 !important;
}

.calendar tbody tr:nth-last-of-type(1) {
  border-bottom: transparent;
}

.calendar tbody tr {
  border-style: hidden !important;
}

.calendar .table th {
  background-color: $theme-light;
  font-size: 14px;
  color: $theme;
  font-weight: 600;
  text-align: center;
  &:first-child {
    border-top-left-radius: 7.5px;
  }
  &:last-child {
    border-top-right-radius: 7.5px;
  }
}

.calendar .day p {
  margin: 0;
  font-size: 16px;
  font-weight: 400 !important;
  color: #adadad;
  text-align: center;
  transition: 0.2s;
  padding: 6px;

  &:hover {
    background-color: $theme-light;
    border-radius: 6px !important;
    cursor: default;
  }
}

.calendar .day {
  padding: 5px;
  width: 50px;
  height: 50px;
}

.calendar .currMonth p {
  color: $fnt-muted;
}

.calendar .selectedDay p {
  color: $theme;
  font-weight: bold !important;
  border-radius: 6px;
  background-color: $theme-light;
}

.calendar .hasEvent p {
  position: relative;
  color: $theme;
  font-weight: bold !important;

  &::before {
    content: ".";
    position: absolute;
    bottom: 0.1em;
    left: 0;
    text-align: center;
    width: 100%;
    font-size: 35px;
  }
}

.calendar_container .month-controls {
  display: flex;
  align-items: center;
}

.calendar_container .month-controls div {
  padding: 2px;
  &:hover {
    cursor: pointer;
  }
}

.calendar_container .month-controls h6 {
  width: 75px;
  margin: 0 18px 0 18px !important;
  text-align: center;
}

.calendar_container .head span {
  font-size: 20px;
  font-weight: 600;
}
