@import "index.scss";

//create-comment
.comment-card {
  background-color: $primary-light !important;
  border-radius: 8px !important;
  margin-top: 20px;
}
.comment-card textarea {
  background-color: transparent;
  resize: none;
  border: none;
  line-height: 1.5rem;
  font-size: $size-md;
  display: block;
  border-width: 0px;

  &:focus {
    box-shadow: none;
  }
}

.user-img {
  width: 38px;
  height: 100%;
  border-radius: 4px !important;
}

//comment-item
.comment-item {
  background-color: $primary-light;
  border-radius: 8px !important;
  margin: 0 0 10px 0px;
  padding: 10px;
  width: 100%;
}

.comment-item .card-header {
  background-color: transparent;
  border: none;
  border-radius: 5px;
}

.comment-item .card-body {
  padding: 5px 16px 5px 16px;
}

.comment-item .cta_button {
  max-width: fit-content !important;
}

.comment-item div[aria-labelledby="dropdown-basic"] button {
  width: 100%;
  &:hover {
    background-color: $button-bg !important;
  }
}
