@import "index.scss";

/*------Dash Cards------*/
.create_event-card {
  background-color: $primary-light !important;
  border-radius: 8px !important;
  padding: 20px;
  margin: 20px;
}
.create_event-card .card-header {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 1rem 1rem;
}
.new-post-container {
  color: $primary-dark;
  border-radius: 5px;
}

.editor-card {
  background-color: $primary-light !important;
  border-radius: 8px !important;
  margin-top: 20px;
  border: none !important;
}
.editor-card .card-header {
  background-color: transparent !important;
  padding: 1rem 1rem;
  border: none;
}

:is(.new-post-container, .editor-card) :is(.form-control, .form-control) {
  color: $primary-dark;
}

:is(.new-post-container, .editor-card)
  :is(
    .form-control:focus,
    .form-control:focus,
    .ql-editor:focus,
    .dateTimePicker
      .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused
      .MuiOutlinedInput-notchedOutline
  ) {
  border-color: $theme !important;
  box-shadow: none !important;
  &.ql-editor {
    border: 1px solid $theme !important;
  }
  &.MuiOutlinedInput-notchedOutline {
    border-width: 1px;
  }
}

:is(.new-post-container, .editor-card)
  :is(
    .form-control,
    .form-control,
    .dateTimePicker .css-1d3z3hw-MuiOutlinedInput-notchedOutline
  ) {
  border: 1px solid rgba($primary-dark, 0.1);
}

.new-post-container .form-label {
  font-size: 0.9rem;
  font-weight: 600;
}

//event
.event-card {
  background-color: $primary-light !important;
  border-radius: 8px !important;
  padding: 20px;
  margin-top: 20px;
}

.event-card .card-header {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 1rem 1rem;
}

.event-card .details_textarea {
  background-color: $secondary-light;
  border-radius: 8px;
  padding: 25px;
  &:not(:first-child) {
    background-color: $primary-light !important;
  }
}

.event-card .cta_button {
  max-width: fit-content !important;
}

.event-card_dash .dropdown-toggle.btn,
.event-card .dropdown-toggle.btn {
  padding: 0;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.event-card_dash .dropdown-toggle::after,
.event-card .dropdown-toggle::after {
  display: none !important;
}
.event-card div[aria-labelledby="dropdown-basic"] button {
  width: 100%;
  &:hover {
    background-color: $button-bg !important;
  }
}
/* .event-card div[aria-labelledby="dropdown-basic"] {
  min-width: 100px !important;
} */

// Dashboard
.event-card_dash {
  margin: 20px;
  animation: displayTransition 0.2s;
}
@keyframes displayTransition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.event-card_dash #card_header {
  padding: 0 0.4rem 10px 0.4rem;
}
.event-card_dash #card_header .card-timestamp {
  font-size: 12px;
  &::before {
    padding: 0 1.5px 0 1.5px;
    margin: 0 2px 0 2px;
    content: "\2022";
    font-weight: 700;
  }
}
.userProf-img#card-img {
  width: 25px;
}

.event-card_dash .card {
  background-color: $primary-light !important;
  border-radius: 8px !important;
}

.event-card_dash .card .card-footer {
  background-color: $primary-light;
  border-top: none;
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  text-align: end;
}
.event-card_dash .card .card-footer a {
  color: $fnt-muted !important;
  font-size: 14px;
}

.event-card_dash .event-brief small {
  font-size: 12px;
}
.event-card_dash .event-brief h4 {
  font-size: 16px;
  font-weight: 600;
}
.event-card_dash .event-brief p {
  font-size: 16px;
  font-weight: bold;
}

.event-card_dash div[role="group"] button {
  max-height: 36px !important;
}

//quill editor
.ql-toolbar.ql-snow {
  border: 1px solid rgba($primary-dark, 0.1) !important;
  border-radius: 0.375rem 0.375rem 0 0 !important;
  border-bottom: none !important;
}
.ql-container.ql-snow {
  border: none !important;
}

.ql-editor {
  border: 1px solid rgba($primary-dark, 0.1) !important;
  border-radius: 0 0 0.375rem 0.375rem !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

.ql-editor span {
  font-size: 1rem !important;
}

//MUI Custom
.dateTimePicker.css-z3c6am-MuiFormControl-root-MuiTextField-root {
  display: block !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}
.dateTimePicker
  :is(
    .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root,
    .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root
  ) {
  line-height: 1.5;
  padding: 0;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  appearance: none;
  border-radius: var(--bs-border-radius);
}

.dateTimePicker input {
  padding: 0.375rem 0.75rem;
  width: 100%;
  height: auto;
  margin: 1px;
}

.dateTimePicker .css-1laqsz7-MuiInputAdornment-root {
  display: none !important;
}

:is(
    .dateTimePicker .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root:hover,
    .dateTimePicker
      .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root.Mui-error
  )
  .MuiOutlinedInput-notchedOutline {
  border-color: rgba($primary-dark, 0.1) !important;
}
