@import "App-pallet.scss";

/*------Dash Cards------*/
.new-post-container {
  color: $primary-dark;
  border-radius: 5px;
}

.new-post-container :is(.form-floating > .form-control, .form-control) {
  color: $primary-dark;
}

.new-post-container
  :is(.form-floating > .form-control:focus, .form-control:focus) {
  border: 1px solid $theme;
  box-shadow: none !important;
}

.new-post-container :is(.form-floating > .form-control, .form-control) {
  border: 1px solid rgba($primary-dark, 0.1);
  background-color: rgb(240, 240, 240) !important;
}

.new-post-container :is(.ql-container.ql-snow, .ql-toolbar.ql-snow) {
  border: 1px solid rgba($primary-dark, 0.1);
  background-color: rgb(240, 240, 240) !important;
}

.new-post-container
  :is(.ql-snow .ql-picker, .ql-toolbar .ql-stroke, .ql-picker-options) {
  color: $primary-dark;
}

.new-post-container
  :is(.ql-toolbar .ql-stroke, .ql-toolbar .ql-fill, .ql-toolbar .ql-picker) {
  fill: none;
  stroke: $primary-dark;
}

.create-post-card.card {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 0 !important;
}
.event-card {
  background-color: $primary-light;
  border-radius: 5px;
  margin: 20px;
}

.event-card .card-header {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 1rem 1rem;
  // display: inline;
}

.event-card .card-body {
  padding-top: 0;
}

.editor-card {
  margin: 20px;
}
.editor-card .card-header {
  background-color: transparent !important;
  padding: 1rem 1rem;
  border: none;
}

.editor-card .card-body {
  padding-top: 0;
}

.dropdown-toggle.btn {
  padding: 0;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.dropdown-toggle::after {
  border: none !important;
  vertical-align: 0;
}

/* .dropdown-menu.show {
  transform: translate3d(-100px, 27px, 0px) !important;
} */

// new
.event-card_dash {
  background-color: $primary-light !important;
  border-radius: 8px !important;
  margin: 20px;
  border: none !important;
  min-height: 298px;
}

.event-card_dash .card-header {
  background-color: transparent;
  border: none;
  padding: 1rem 1rem;
}

.event-card_dash .event-brief small {
  font-size: 12px;
}
.event-card_dash .event-brief p {
  font-size: 16px;
  font-weight: bold;
}

.event-card_dash div[role="group"] {
  min-height: 81px;
}
.event-card_dash div[role="group"] button {
  max-height: 36px !important;
}
