@import "index.scss";

/*------Header Nav------*/
.navbar {
  @include header-footer-font(0.875rem, sans-serif, 600);
}

.nav_userProf {
  width: 25px;
  border-radius: 8px !important;
  background-color: $secondary-dark;
}

.navbar-brand {
  color: $theme !important;
}

.navbar-nav .nav-link {
  color: #6c757d !important;
}

.navbar-nav .nav-link:hover {
  color: $theme !important;
}

.navbar .container {
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 1400px;
}

a.dropdown-item:hover {
  background-color: transparent;
  color: $theme !important;
}

.header-blur {
  background-color: hsla(0, 0%, 100%, 0.8);
  backdrop-filter: saturate(180%) blur(5px);
  -webkit-backdrop-filter: saturate(180%) blur(5px);
}

.navbar .dropdown-menu a {
  @include header-footer-font(0.875rem, sans-serif, 500);
  color: #6c757d !important;
  &:hover {
    color: $theme !important;
  }
}
.navbar .dropdown-menu.show {
  right: 0;
  left: auto;
}

//notification
#notification-icon {
  display: inline-flex;
  position: relative;
  align-items: center;
  padding: 0.75rem;
}
.notification-badge {
  display: inline-flex;
  position: absolute;
  top: 0rem;
  right: 0rem;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  font-size: x-small;
  font-weight: bold;
  color: white;
  background-color: red;
  border-radius: 50px;
  border-width: 2px;
  border-color: white;
}
