@import "index.scss";

/*------Resposive------*/

@media only screen and (max-width: 640px) {
  .login-card.card {
    width: 100% !important;
  }
  .footer-links,
  .footer-logo {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .calendar {
    width: 500px !important;
    height: 400px !important;
  }
  .calendar .body .week {
    width: 60px !important;
  }
  .calendar-days .day {
    width: 60px !important;
    height: 35px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .calendar {
    width: 700px !important;
    height: 500px !important;
  }
  .calendar .body .week {
    width: 90px !important;
  }
  .calendar-days .day {
    width: 90px !important;
    height: 65px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .sidebar {
    display: none;
  }
  .dash-container {
    margin: 0 auto !important;
    flex-direction: column-reverse !important;
  }
  .sidebar_eventDash {
    width: 100% !important;
  }
  .sidebar-wrapper {
    height: 100% !important;
  }
}
