@import "index.scss";

.suggested img {
  border-radius: 4px;
}

.suggested li {
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.175) !important;
  border-radius: 8px;
}

.suggested .badge {
  font-size: 10px;
  background-color: $theme-light !important;
  color: #4338ca;
  align-self: center;
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  --bs-border-opacity: 0.1;
  border-color: rgba(
    var(--bs-success-rgb),
    var(--bs-border-opacity)
  ) !important;
}
