@import "index.scss";

.timeline {
  position: relative;
  border-left: 1px solid darken($primary-light, 20);
  list-style: none;
  padding: 0 !important;
  margin-left: 20px;
  margin-right: 20px;
}

.timeline li {
  margin-bottom: 2.5rem;
  margin-left: 1.5rem;
}

.timeline .icon {
  position: absolute !important;
  display: flex !important;
  justify-items: center !important;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 9999px;
  left: -0.75rem;
  box-shadow: inset 0 0 0 calc(8px + 4px) $secondary-light !important;
}

.timeline li .badge {
  margin-left: 0.85rem;
  font-size: 12px;
  background-color: $theme-light !important;
  color: #4338ca;
  align-self: center;
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  --bs-border-opacity: 0.1;
  border-color: rgba(
    var(--bs-success-rgb),
    var(--bs-border-opacity)
  ) !important;
  font-weight: 500;
}

.timeline .icon svg {
  display: flex;
  justify-self: center;
  align-self: center;
  width: 1.1rem;
  height: 1.1rem;
  color: $theme;
}

.timeline li h5 a {
  font-size: 18px;
  font-weight: 600;
  color: $primary-dark;
}

.timeline li time {
  font-size: 14px;
  font-weight: 500;
}
.timeline li p {
  font-size: 16px;
}
