@import "index.scss";

.timeline {
  position: relative;
  border-left: 1px solid black;
  list-style: none;
  padding: 0 !important;
}

.timeline li {
  margin-bottom: 2.5rem;
  margin-left: 1.5rem;
}

.timeline .icon {
  position: absolute !important;
  display: flex !important;
  justify-items: center !important;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 9999px;
  left: -0.75rem;
  box-shadow: inset 0 0 0 calc(8px + 4px) $secondary-light !important;
}

.timeline li .badge {
  font-size: 12px;
  margin-left: 0.85rem;
}

.timeline .icon svg {
  display: flex;
  justify-self: center;
  align-self: center;
  width: 0.625rem;
  height: 0.625rem;
  color: blue;
}

.timeline li h5 {
  font-size: 18px;
  font-weight: 600;
}

.timeline li time {
  font-size: 14px;
  font-weight: 500;
}
.timeline li p {
  font-size: 16px;
}
