html,body{
  background-color: #5865f2 !important;
}
.title{
  color: white;
}
input{
  color: white;
}
input:focus {
  outline: none;
}
.centerContent{
  display: flex;
  justify-content: center;
}
.footer-hr{
  color: white;
  background-color: white;
  height: 1;
}

.bodyContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: auto;
  height: fit-content;
}

div.content {
  padding: 80px 16px;
  background-color: #e1e5ee;
  min-height: 85vh;
}

.navbar {
  background-color: #282c34;
}

.navbar-nav .nav-link {
  color: white !important;
}

.navbar-nav .nav-link:hover {
  color: #5865f2 !important;
}

.navbar .container {
  padding-left: 6rem;
  padding-right: 6rem;
}

.dropdown-menu {
  background-color: black !important;
}

a.dropdown-item:hover {
  background-color: transparent;
  color: #5865f2 !important;
}
/* ul.nav.nav-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
} */
/* .sectionOne {
  background-color: #e1e5ee;
  padding: 10rem;
} */


