/*------Color Pallet------*/
$theme: #5865f2;
$theme-light: #eaebfd;
$primary-light: #ffffff;
$secondary-light: #f6f6f6;
$primary-dark: #2c2f33;
$secondary-dark: #23272a;
$button-hover: #404eed;

/*------Mixin------*/
//Button
@mixin btn-style($bgColor, $color, $border, $fw) {
  background-color: $bgColor !important;
  color: $color !important;
  border: $border !important;
  font-weight: $fw !important;
}

@mixin title-text($color, $ltrspace, $fw) {
  color: $color !important;
  letter-spacing: $ltrspace !important;
  font-weight: $fw !important;
}

@mixin header-footer-font($fntSize, $fntFam, $fntW) {
  font-size: $fntSize;
  font-family: $fntFam;
  font-weight: $fntW;
}
/*------General Components------*/
html,
body {
  background-color: $secondary-light !important;
  font-size: 1rem;
}

:any-link {
  text-decoration: none;
}

.titleText {
  @include title-text($theme, 2px, 800);
}

.subTitle {
  @include title-text($primary-dark, normal, 600);
}

.btn-primary {
  @include btn-style($theme, $primary-light, none, 600);
}

.btn-primary:hover {
  background-color: $button-hover !important;
  color: $primary-light !important;
  border: none;
}

.btn-cancel {
  @include btn-style(transparent, $primary-dark, none, 600);
}
.btn-cancel:hover {
  @include btn-style(transparent, $theme, none, 600);
}

/*.btn-primary:hover {
  background-color: $theme !important;
  color: $button-hover !important;
  border: none;
}*/
.btn-primary:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-placements {
  @include btn-style(transparent, $theme, none, 600);
  padding: 2px 8px 4px 8px !important;
  margin: 1rem 0 0 0;
}

.btn-placements:not(:first-child) {
  margin: 1rem 0 0 1rem;
}

.postBtn-placements {
  @include btn-style(transparent, $theme, none, 600);
  padding: 2px 8px 4px 8px !important;
  margin: 0 0 0 0.5rem;
}
.divider {
  color: $primary-dark;
  background-color: $primary-dark;
  height: 1;
}
.centerContent {
  display: flex;
  justify-content: center;
}

.toasts {
  width: fit-content !important;
  top: 10px;
  margin-left: 4px;
  font-weight: 500;
}

div.content {
  padding: 80px 12px;
  background-color: $secondary-light;
  height: 100%;
}
.recents-div {
  background-color: $primary-light;
  padding: 10px 15px 0px 15px;
  border-radius: 5px;
  max-width: 18rem;
}
.recents-div p {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*------Footer------*/
.footer {
  background-color: $theme-light;
  width: 100%;
}
.footer-container {
  padding: 20px;
}
.footer-logo {
  text-align: start;
}
.footer-links {
  text-align: end;
}
.footer-links > span > a {
  color: $primary-dark;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 600;
  transition: all 0.2s;
  margin-left: 10px;
  margin-right: 10px;
}

.footer-links > span > a:hover {
  color: $theme;
  text-decoration: underline;
}

/*------Header Nav------*/
.navbar {
  @include header-footer-font(0.875rem, sans-serif, 600);
  border-bottom: 2px solid rgba($secondary-dark, 0.1);
}

.navbar-brand {
  color: $theme !important;
}

.navbar-nav .nav-link {
  color: $primary-dark !important;
}

.navbar-nav .nav-link:hover {
  color: $theme !important;
}

.navbar .container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.dropdown-menu {
  background-color: $secondary-dark !important;
}

a.dropdown-item:hover {
  background-color: transparent;
  color: $theme !important;
}

.header-blur {
  background-color: rgba($theme-light, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

/*------Login/Signup Forms------*/
div#auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.auth-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 24px;
  flex: 1 1;
}
.auth-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  border-top: 1px solid #e0e0e0;
}

.login-card .form-floating > .form-control:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}

.login-card .form-floating > .form-control:focus {
  border: 1px solid $theme;
  box-shadow: none !important;
}

.login-card .form-floating > .form-control {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.login-card .form-floating > .form-control:hover,
.new-post-container .form-floating > .form-control:hover {
  border: 1px solid $theme;
}

.login-card.card {
  background-color: $primary-light;
  color: $primary-dark;
  font-weight: 500;
  width: 100%;
  max-width: 500px !important;
}

.login-card .form-floating > label {
  color: $primary-dark;
}
/*------Off-Canvas------*/
.offcanvas-backdrop.show {
  opacity: 0.3 !important;
}
.offcanvas-header {
  background-color: $primary-light;
  color: $theme;
  padding: 20px 30px !important;
}
.offcanvas-body {
  background-color: $primary-light;
  padding: 0 !important;
}
/*------Main Dash------*/

.dash-container {
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  min-height: 100vh;
  margin: 0 auto;
}

.dash-container .content {
  flex: 1 1 auto;
  width: 100%;
}
/*------Dash Cards------*/
.new-post-container {
  color: $primary-dark;
  border-radius: 5px;
}

.new-post-container .form-floating > .form-control {
  color: $primary-dark;
}

.new-post-container .form-floating > .form-control:focus {
  border: 1px solid $theme;
  box-shadow: none !important;
  /* background-color: transparent; */
}

.new-post-container .form-floating > .form-control {
  border: 1px solid rgba($primary-dark, 0.1);
  background-color: rgb(240, 240, 240) !important;
}

.new-post-container :is(.ql-container.ql-snow, .ql-toolbar.ql-snow) {
  border: 1px solid rgba($primary-dark, 0.1);
  background-color: rgb(240, 240, 240) !important;
}

.new-post-container
  :is(.ql-snow .ql-picker, .ql-toolbar .ql-stroke, .ql-picker-options) {
  color: $primary-dark;
}

.new-post-container
  :is(.ql-toolbar .ql-stroke, .ql-toolbar .ql-fill, .ql-toolbar .ql-picker) {
  fill: none;
  stroke: $primary-dark;
}

.post-cards .create-post-card {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 0 !important;
}
.post-cards .card {
  background-color: $primary-light;
  border-radius: 5px;
  margin: 20px;
}

.post-cards .card-header {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 0;
  display: inline;
}

.sidebar {
  border-left: 1px solid #e0e0e0;
  width: 33.33%;
}
.sidebar-wrapper {
  width: 100%;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-top: 80px !important;
}
.post-cards.sidebar .card:first-child {
  background-color: $primary-light;
  border-radius: 5px;
}
.post-cards.sidebar .card:last-child {
  background-color: transparent;
  border: none;
}

/* .event-owned {
  border: 1px solid $theme !important;
} */

/*------Modal------*/
.modal-header {
  border-top-right-radius: 20px !important;
  border-top-left-radius: 20px !important;
  border-color: transparent !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.modal-title {
  color: red;
  font-size: 2.5rem !important;
}
.modal-body h4 {
  color: $primary-dark;
  font-weight: bold !important;
}
.modal-content {
  border-radius: 20px !important;
}

.modal-body {
  font-size: 1rem;
  color: rgb(107 114 128);
}

/*------Notification------*/
.notif-button-item {
  padding: 15px 30px 0 !important;
  width: 100%;
  text-align: left !important;
  text-decoration: none !important;
  color: $primary-dark !important;
  border: none !important;
  border-radius: 0 !important;
  outline: none !important;
  box-shadow: none !important;
}
.notif-button-item:hover {
  background-color: $theme-light;
  color: $theme !important;
}
.notif-button-item hr {
  margin-bottom: 0;
  color: $theme;
}
.notif-subHeader {
  padding: 20px 30px 0 !important;
}
.notif-mark {
  color: $theme;
}

/*------Image/Logo------*/
.userProf-img {
  width: 45px;
  border-radius: 5px !important;
  padding: 5px;
  background-color: $secondary-dark;
}

.recents-Logo {
  width: 30px;
  border-radius: 12px;
  padding: 5px;
  background-color: $secondary-dark;
}

/*------pagination------*/
.pagination #pagi-container {
  width: fit-content;
  background-color: $theme-light;
  border-radius: 10px;
  padding: 0;
}

.pagination .page-link {
  color: $secondary-dark !important;
  background-color: transparent !important;
  border: none;
  font-weight: 500;
  border-radius: 0 !important;
}

.pagination #prev {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.pagination #next {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.pagination .page-item.active .page-link {
  background-color: $theme !important;
  color: $primary-light !important;
}

.pagination .page-link:hover {
  background-color: $theme !important;
  color: $primary-light !important;
}
/*------Resposive------*/

@media only screen and (max-width: 640px) {
  .login-card.card {
    width: 100% !important;
  }
  .footer-links,
  .footer-logo {
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}
