/*------Color Pallet------*/
$theme: #5865f2;
$theme-light: #eaebfd;
$primary-light: #ffffff;
$secondary-light: #f6f6f6;
$primary-dark: #2c2f33;
$secondary-dark: #23272a;
$button-hover: #404eed;

/*------Mixin------*/
//Button
@mixin btn-style($bgColor, $color, $border, $fw) {
  background-color: $bgColor !important;
  color: $color !important;
  border: $border !important;
  font-weight: $fw !important;
}

@mixin title-text($color, $ltrspace, $fw) {
  color: $color !important;
  letter-spacing: $ltrspace !important;
  font-weight: $fw !important;
}

/*------General Components------*/
html,
body {
  background-color: $theme !important;
  height: 100vh;
  font-size: 1rem;
}

.titleText {
  @include title-text($primary-light, 2px, 800);
}

.subTitle {
  @include title-text($primary-light, normal, 600);
}

.btn-primary {
  @include btn-style($theme, $primary-light, none, 600);
}

.btn-primary:hover {
  background-color: $button-hover !important;
  color: $primary-light !important;
  border: none;
}

.btn-cancel {
  @include btn-style(transparent, $primary-dark, none, 600);
}
.btn-cancel:hover {
  @include btn-style(transparent, $theme, none, 600);
}

/*.btn-primary:hover {
  background-color: $theme !important;
  color: $button-hover !important;
  border: none;
}*/
.btn-primary:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-placements {
  @include btn-style(transparent, $theme, none, 600);
  padding: 2px 8px 4px 8px !important;
  margin: 1rem 0 0 0;
}

.btn-placements:not(:first-child) {
  margin: 1rem 0 0 1rem;
}

.postBtn-placements {
  @include btn-style(transparent, $theme, none, 600);
  padding: 2px 8px 4px 8px !important;
  margin: 0 0 0 0.5rem;
}
.divider {
  color: $primary-light;
  background-color: $primary-light;
  height: 1;
}
.centerContent {
  display: flex;
  justify-content: center;
}

.toasts {
  width: fit-content !important;
  top: 10px;
  margin-left: 4px;
  font-weight: 500;
}

div.content {
  padding: 80px 12px;
  /* background-color: #e1e5ee;  */
  background-color: $secondary-light;
  min-height: 100vh;
}

.recents-div .toast {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}

.recents-div .toast-body pre {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*------Footer------*/
.footer {
  color: $primary-light;
  background-color: #282c34;
  /*  display: flex;
  justify-content: center; */
  width: 100%;
  min-height: 20vh;
  height: fit-content;
}
.footer .container {
  padding: 20px;
}

.footer-links > div.col > small > a {
  color: $primary-light;
  text-decoration: none;
  font-weight: bold;
}

.footer-links > div.col > small > a:hover {
  text-decoration: underline;
}

/*------Header Nav------*/
.navbar {
  background-color: $primary-dark;
}

.navbar-nav .nav-link {
  color: $primary-light !important;
}

.navbar-nav .nav-link:hover {
  color: $theme !important;
}

.navbar .container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.dropdown-menu {
  background-color: $secondary-dark !important;
}

a.dropdown-item:hover {
  background-color: transparent;
  color: $theme !important;
}

/*------Login/Signup Forms------*/
.container#auth-container {
  padding: 80px 12px;
  min-height: 80vh;
}

.login-card .form-floating > .form-control:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: $primary-light !important;
}

.login-card .form-floating > .form-control:focus {
  border: 1px solid $theme;
  box-shadow: none !important;
  background-color: $secondary-dark;
  color: $primary-light;
}

.login-card .form-floating > .form-control {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: $secondary-dark;
  color: $primary-light;
}

.login-card .form-floating > .form-control:hover,
.new-post-container .form-floating > .form-control:hover {
  border: 1px solid $theme;
}

.login-card.card {
  background-color: $primary-dark;
  color: $primary-light;
  font-weight: 500;
  min-width: auto;
  width: 500px;
  height: fit-content;
  bottom: 0;
}

.login-card .card-footer {
  border-top: 1px solid #777;
}

.login-card .form-floating > label {
  color: $primary-light;
}
/*------Off-Canvas------*/
.offcanvas-backdrop.show {
  opacity: 0.8;
}
.offcanvas-header {
  background-color: $secondary-dark;
  color: $primary-light;
  padding: 20px 30px !important;
}
.offcanvas-body {
  padding: 0 !important;
}
/*------Event posts------*/
.new-post-container {
  background-color: rgba($primary-light, 0.9);
  color: $primary-dark;
  border-radius: 15px;
}

.new-post-container .form-floating > .form-control {
  color: $primary-dark;
}

.new-post-container .form-floating > .form-control:focus {
  border: 1px solid $theme;
  box-shadow: none !important;
  /* background-color: transparent; */
}

.new-post-container .form-floating > .form-control {
  border: 1px solid rgba($primary-dark, 0.3);
  background-color: transparent !important;
}

.new-post-container :is(.ql-container.ql-snow, .ql-toolbar.ql-snow) {
  border: 1px solid rgba($primary-dark, 0.3);
}

.new-post-container
  :is(.ql-snow .ql-picker, .ql-toolbar .ql-stroke, .ql-picker-options) {
  color: $primary-dark;
}

.new-post-container
  :is(.ql-toolbar .ql-stroke, .ql-toolbar .ql-fill, .ql-toolbar .ql-picker) {
  fill: none;
  stroke: $primary-dark;
}

/* .post-cards:first-of-type{
  border-right: 1px solid #d7d8d9;
} */
.post-cards.col,
.post-cards.col-sm-3 {
  padding: 0.2rem;
}

.post-cards .card {
  background-color: $primary-light;
  border: none;
  border-radius: 15px;
  margin: 20px;
}

/* .post-cards .card:hover {
  background-color: $secondary-light;
  transition: 0.4s;
} */

.post-cards .card-header {
  background-color: transparent;
  border: none;
  border-radius: 15px;
  padding: 0;
  display: inline;
}

.post-cards ~ .recents .card {
  background-color: $primary-light;
  border: none;
  border-radius: 6px;
  margin: 20px 0px 20px 0px;
  border-radius: 15px;
}

/* .event-owned {
  border: 1px solid $theme !important;
} */

/*------Modal------*/
.modal-header {
  border-top-right-radius: 20px !important;
  border-top-left-radius: 20px !important;
  border-color: transparent !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.modal-title {
  color: red;
  font-size: 2.5rem !important;
}
.modal-body h4 {
  color: $primary-dark;
  font-weight: bold !important;
}
.modal-content {
  border-radius: 20px !important;
}

.modal-body {
  font-size: 1rem;
  color: rgb(107 114 128);
}

/*------Notification------*/
.notif-button-item {
  padding: 15px 30px 0 !important;
  width: 100%;
  text-align: left !important;
  text-decoration: none !important;
  color: $primary-dark !important;
  border: none !important;
  border-radius: 0 !important;
  outline: none !important;
  box-shadow: none !important;
}
.notif-button-item:hover {
  background-color: $theme-light;
  color: $theme !important;
}
.notif-button-item hr {
  margin-bottom: 0;
  color: $theme;
}
.notif-subHeader {
  padding: 20px 30px 0 !important;
}

/*------Image/Logo------*/
.userProf-img {
  width: 50px;
  border-radius: 12px !important;
  padding: 5px;
  background-color: $secondary-dark;
}

.recents-Logo {
  width: 30px;
  border-radius: 12px;
  padding: 5px;
  background-color: $secondary-dark;
}
